{% extends "./index.html"%}
{% block content %}
<div id="home_container">
    <div id="home_title">
    <h1>CLINIC SYS</h1>
    </div>

    <div id="home_description">
        <div id="home_text">
            <p>Inaugurated in 1939, at Adamstown, Newry, the Clinic Sys is a reference in North Ireland for the treatment of mental disorders, as: anxiety, schizophrenia, and other psychiatric pathologies that need special care. The unity has 15 individual and collective rooms, and all the infrastructure as dining hall, living room, enviroment and therapeutic activities and external area strategically decorated to provide a sense of well being for the client.</p>
        </div>

        <div id="home_image">
            <img src="../../static/assets/home_clinic1.jpg" width="450px">
        </div>
    </div>
</div>
{% endblock %}
    