{% extends "./index.html"%}
{% block content %} 
<div class="container">
    <!-- trecho de codigo python, alerta e informaçoe para o usuario -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <ul id="messages" class="list-unstyled">
       {% for message in messages %}
           <li class="alert alert-success">{{ message }}</li>
       {% endfor %}
       </ul>
    {% endif %}
    {% endwith %}

    <div class="page-header">
        <h1>Login</h1>
    </div>
    <form action="{{ url_for('authentication') }}" method="post">

        <input type="hidden" name="proximo" value="{{ proximo or url_for('home_page') }}">

        <p><label>Email</label>
            <input class='form-control' type="text" name="email" required>
        </p>
        <p><label>Password</label>
            <input class='form-control' type="password" name="password" required>
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Login</button>
        </p>
    
    </form>
</div>
{% endblock %}